<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Daftar Kucing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        body {
            background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
        }

        .card-img-top {
            height: 250px;
            object-fit: cover;
        }

        .card {
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="container py-5 ">
        <h1 class="text-center mb-4">Manajemen Adopsi Kucing</h1>
        <form method="get" class="row g-2 mb-4">
            <div class="col">
                <select name="breed" class="form-select">
                    <option value="" th:selected="${breed == null}">Semua Ras</option>
                    <option value="Kucing Kampung" th:selected="${breed == 'Kucing Kampung'}">Kucing Kampung</option>
                    <option value="Kucing Persia" th:selected="${breed == 'Kucing Persia'}">Kucing Persia</option>
                    <option value="Kucing Bengal" th:selected="${breed == 'Kucing Bengal'}">Kucing Bengal</option>
                    <option value="Kucing Munchkin" th:selected="${breed == 'Kucing Munchkin'}">Kucing Munchkin</option>
                    <option value="Kucing Busok" th:selected="${breed == 'Kucing Busok'}">Kucing Busok</option>
                    <option value="Kucing hutan" th:selected="${breed == 'Kucing hutan'}">Kucing Hutan</option>
                    <option value="Maine Coon" th:selected="${breed == 'Maine Coon'}">Maine Coon</option>
                    <option value="Kucing Ragdoll" th:selected="${breed == 'Kucing Ragdoll'}">Kucing Ragdoll</option>
                    <option value="Kucing Sphynx" th:selected="${breed == 'Kucing Sphynx'}">Kucing Sphynx</option>
                    <option value="British Shorthair" th:selected="${breed == 'British Shorthair'}">British Shorthair
                    </option>
                    <option value="Kucing Siam" th:selected="${breed == 'Kucing Siam'}">Kucing Siam</option>
                </select>
            </div>
            <div class="col">
                <select name="gender" class="form-select">
                    <option value="">Semua Jenis Kelamin</option>
                    <option value="Jantan" th:selected="${gender == 'Jantan'}">Jantan</option>
                    <option value="Betina" th:selected="${gender == 'Betina'}">Betina</option>
                </select>
            </div>
            <div class="col">
                <select name="adopted" class="form-select">
                    <option value="">Semua Adopsi</option>
                    <option value="true" th:selected="${adopted == 'true'}">Sudah Diadopsi</option>
                    <option value="false" th:selected="${adopted == 'false'}">Belum</option>
                </select>
            </div>
            <div class="col">
                <select name="validated" class="form-select">
                    <option value="">Semua Validasi</option>
                    <option value="true" th:selected="${validated == 'true'}">Sudah Divalidasi</option>
                    <option value="false" th:selected="${validated == 'false'}">Belum</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-primary">Filter</button>
            </div>
            <div class="col-md-3">
                <input type="text" name="name" class="form-control" placeholder="Cari nama kucing"
                    th:value="${searchName}">
            </div>
            <div class="text-end col">
                <a href="/cats/new" class="btn btn-success">
                    <i class="bi bi-plus-circle"></i> Tambah Kucing
                </a>
            </div>
        </form>



        <div class="row" th:if="${cats.size() > 0}">
            <div class="col-md-4 mb-3" th:each="cat : ${cats}">
                <div class="card h-100 position-relative">

                    <img th:src="@{'/images/' + ${cat.photo}}" class="card-img-top" alt="Foto Kucing">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${cat.name}">Nama Kucing</h5>

                        <div class="row">
                            <!-- Informasi Ras dan Umur -->
                            <div class="col-md-6">
                                <p class="card-text text-muted mb-2">
                                    Ras: <span th:text="${cat.breed}">Ras</span><br>
                                    Umur: <span th:text="${cat.age}">0</span> bulan
                                </p>
                            </div>

                            <!-- Status Validasi dan Adopsi -->
                            <div class="col-md-6 text-end">
                                <!-- Status Validasi -->
                                <p class="mb-1">
                                    <span th:text="${cat.validated} ? 'Tervalidasi' : 'Belum Validasi'" class="me-2">
                                        Status Validasi
                                    </span>
                                    <i class="fa-solid"
                                        th:classappend="${cat.validated} ? 'fa-circle-check text-success' : 'fa-circle-xmark text-danger'"
                                        th:title="${cat.validated} ? 'Sudah divalidasi' : 'Belum divalidasi'"></i>
                                </p>

                                <!-- Status Adopsi -->
                                <p class="mb-0">
                                    <span th:text="${cat.adopted} ? 'Sudah Diadopsi' : 'Belum Diadopsi'" class="me-2">
                                        Status Adopsi
                                    </span>
                                    <i class="fa-solid"
                                        th:classappend="${cat.adopted} ? 'fa-heart text-danger' : 'fa-heart-crack text-muted'"
                                        th:title="${cat.adopted} ? 'Sudah diadopsi' : 'Belum diadopsi'"></i>
                                </p>
                            </div>


                        </div>

                        <a th:href="@{'/cats/' + ${cat.id}}" class="btn btn-outline-primary btn-sm mt-3 w-100">
                            <i class="fa-solid fa-eye"></i> Lihat Detail
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="alert alert-warning text-center" th:if="${cats.size() == 0}">
            Tidak ada data kucing saat ini.
        </div>
    </div>
</body>

</html>